.Painel.Painel--lg.Painel--border.u-spacer--sm
  ul.Segments
    li.Apex.Apex--cut.zeta(class='+white +senado')
      .Box.Box--sm
        i.fa.fa-sliders
        strong  Status
    li.Painel.Painel--vert
      ul.list-unstyled.CutHere.CutHere--lg
        li.Box.Box--normal
          .Arrange.type-status
            .Arrange-sizeFit.delta
              i.interruptor.on.text-success.fa.fa-check-circle &nbsp;
              i.interruptor.off.text-danger.fa.fa-minus-circle &nbsp;
            .Arrange-sizeFill
              select.status.form-control(name='', value='')
                option(value='on') Disponível
                option(value='off') Derrubar
        mixin links (href, modal, icon, name)
          li.Box.Box--normal
            a(href="#{href}" data-toggle='modal', data-target='#{modal}')
              i.fa(class='#{icon}') 
              |  #{name}
        +links('#', '#historico', 'fa-chevron-right', 'Histórico')

.Painel.Painel--lg.Painel--border.u-spacer--sm
  ul.Segments
    li.Apex.Apex--cut.zeta(class='+white +senado')
      .Box.Box--sm
        i.fa.fa-plus
        strong  Apoio
    li.Painel.Painel--vert
      ul.list-unstyled.CutHere.CutHere--lg
        +links('#', '#adicionarLink', 'fa-chevron-right', 'Adicionar link')
        +links('#', '#novoArquivo', 'fa-chevron-right', 'Novo arquivo')
        +links('#', '#itensProducaoRelacionados', 'fa-chevron-right', 'Itens de produção relacionados')
.Painel.Painel--lg.Painel--border.u-spacer--sm
  ul.Segments
    li.Apex.Apex--cut.zeta(class='+white +senado')
      .Box.Box--sm
        i.fa.fa-cog
        strong  Controle
    li.Painel.Painel--vert
      ul.list-unstyled.CutHere.CutHere--lg
        li.Box.Box--normal
          a(href='paginaInicial--editarItemPautaGeral.html')
            i.fa.fa-chevron-right
            |  Editar item
        +links('#', '#excluirItem', 'fa-chevron-right', 'Excluir item')
        +links('#', '#replicarItem', 'fa-chevron-right', 'Replicar item')
        +links('#', '#reordenacaoItens', 'fa-chevron-right', 'Reordenar Itens dos veículos')
        mixin btn-turn(name, id, label)
          li.Box.Box--normal.row
            .col-md-9.col-xs-9
              i.fa.fa-chevron-right 
              |  #{name}&nbsp;
            .col-md-3.col-xs-3
              .onoffswitch(style='margin-left:-10px;')
                input.onoffswitch-checkbox(id='#{id}' type='checkbox', name='onoffswitch', checked='')
                label.onoffswitch-label(for='#{label}')
                  span.onoffswitch-inner
                  span.onoffswitch-switch
        +btn-turn('Notificar alterações', 'btn1', 'btn1')
        +btn-turn('Acompanhar item', 'btn2', 'btn2')