.panel.panel-default
  .s-bar.s-bar--background
    .ArrangeFlex
      .ArrangeFlex-sizeFit.Box.Box--lg
        i.fa.fa-home
      .ArrangeFlex-sizeFill.Box--y.Box--lg
        h2.milli.s-bar--text
          strong Página Inicial
      .ArrangeFlex-sizeFit.Box--y.Box--lg.s-bar--columnLeft
        a.toggle.eta.btn-sBar(href='#collapse-box' data-toggle="collapse" aria-expanded='true')
          i.fa.fa-chevron-up
          i.fa.fa-chevron-down
  .panel-body#collapse-box.in
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#pautadia', aria-controls='pautadia', role='tab', data-toggle='tab') Pautas do dia
      li(role='presentation')
        a(href='#pautafutura', aria-controls='pautafutura', role='tab', data-toggle='tab') Pautas futuras
    // Tab panes
    .tab-content
      #pautadia.tab-pane.active(role='tabpanel')
        .row
          .col-md-4
            .Box.Box--lg.Box--y
              form.form-group
                .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                  input#dataPublicacao.form-control(type='text', placeholder='dd/mm/aaaa')
                  .input-group-addon
                    span.fa.fa-calendar

          .col-md-8.text-right
            mixin btn-impress(title, icon, name)
              button.btn.btn-xs.btn-default(type='button', title=title, data-toggle='tooltip')
                i.fa(class=icon)
                |  #{name}
            .Box.Box--lg.Box--y
              form.form-group
                .btn-block
                  +btn-impress('Imprimir', 'fa-print', 'Imprimir')

        table.table.table-striped.table-hover.milli
          thead
            tr
              th Hora
              th Editoria
              th Assunto
              th Agência
              th Com.Interna
              th Rádio
              th TV
          tbody
            mixin btn(icon, btn)
              .btn-group.dropup
                button.btn.btn-xs(type='button' class=btn)
                  i.fa(class=icon)
                button.btn.btn-xs.dropdown-toggle(class=btn type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.caret
                  span.sr-only Toggle Dropdown
                ul.dropdown-menu
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider(role='separator')
                  li
                    a(href='#') Separated link


            mixin tr(hora, editoria, assunto)
              tr
                td
                  | #{hora}
                td
                  | #{editoria}
                td
                  a(href='#') #{assunto}
                td
                  block
                td
                  block
                td
                  block
                td
                  block
            +tr('10h00','Senado','Lorem ipsum dolor sit amet, consectetur adipisicing elit')
              +btn('fa-users', 'btn-default')
            +tr('10h00','Senado','Lorem ipsum dolor sit amet, consectetur adipisicing elit')
              +btn('fa-users', 'btn-default')
            +tr('10h00','Senado','Lorem ipsum dolor sit amet, consectetur adipisicing elit')
              +btn('fa-users', 'btn-default')
      #pautafutura.tab-pane(role='tabpanel') ...
