.AdvanceLayout-content.navbar.navbar--sf.navbar-fixed-top.is-full(role='navigation')
  .container-fluid.u-posRelative

    ul.nav.navbar-nav.navbar-left.navbar-nav--lg
      li: a#main-menu-toggle.navbar-action.zeta.navbar-action--main(href='#')
        i(class='+senado').fa.fa-bars

    mixin search
      form
        .form-group.form-group--search
          .input-group
            .input-group-addon.input-group-addon--search
              span.glyphicon.glyphicon-search
            input.form-control.form-control--search(type='email' placeholder='Busca')

    ul.nav.navbar-nav.navbar-left.navbar-nav--lg.hidden-xs
      li
        .navbar-form.navbar-left.navbar-form--lg
            +search
    ul.nav.navbar-nav.navbar-right.navbar-nav--lg
      li.hidden-xs: a Nome do usuário
      li.dropdown
        a.navbar-action.zeta.dropdown-toggle(href='#', data-toggle='dropdown')
          span.seta-dropdown-menu.hidden-xs
          i.fa.fa-th
          span.badge.badge--unread.micro !

        ul.dropdown-menu.dropdown-menu--bar.dropdown-menu--md

          li.Box.Box--lg.epsilon(class="+white +senado")            
            i.glyphicon.glyphicon-list
            strong  Tarefas

          mixin item( date, texto, user, href, label, status)
            div
              p
                small #{date}
                if label
                  span.label.pull-right(class="#{status}") #{label}
                else
              p 
                if href
                  a(href=href) #{texto}
                else 
                  | #{texto}
              p: small #{user}

          mixin botoes(href, icon, texto)
            li(class="+white")
              a.epsilon(href='#{href}' class="+senado")
                .Box.Box--y
                  strong: i(class='#{icon}').fa
                  |  #{texto}
          li.Box.Box--lg.CutHere.scroll
            +item('01/12/2016', 'Relação de senadores está no item "COP 21 2015" na área de grandes Temas.', 'Renina Sangermano Valejo','google.com','', '')
            +item('26/11/2016', 'Acabei de falar com a Taís, da CRE, e a reunião está mesmo cancelada.', 'Sabrina Mancio','','', '')
          +botoes('/endereço', 'fa-plus', 'Novo item de pauta')
          +botoes('/endereço', 'fa-plus', 'Novo item de produção')
          +botoes('/endereço', 'fa-cog', 'Configurações')
      li.dropdown
        a.navbar-action.zeta.dropdown-toggle(href='#', data-toggle='dropdown')
          span.seta-dropdown-menu.hidden-xs
          i.fa.fa-calendar
        ul.dropdown-menu.dropdown-menu--bar.dropdown-menu--md
          li(class="+white")
            .Box.Box--lg
              #datepicker(data-date='12/03/2012')
              input(type='hidden')

      li.dropdown
        a.navbar-action.zeta.dropdown-toggle(href='#', data-toggle='dropdown')
          span.seta-dropdown-menu.hidden-xs
          i.fa.fa-bell
          span.badge.badge--unread.micro 2
        ul.dropdown-menu.dropdown-menu--bar.dropdown-menu--md
          li.Box.Box--lg.epsilon(class="+white +senado")            
            i.fa.fa-bell
            strong  Avisos gerais
          li.Box.Box--lg.CutHere.scroll
            +item('01/12/2016', 'Relação de senadores está no item "COP 21 2015" na área de grandes Temas.', 'Renina Sangermano Valejo','google.com','Em produção', 'label-primary')
            +item('26/11/2016', 'Acabei de falar com a Taís, da CRE, e a reunião está mesmo cancelada.', 'Sabrina Mancio','','Parado', 'label-danger')
            +item('01/12/2016', 'Relação de senadores está no item "COP 21 2015" na área de grandes Temas.', 'Renina Sangermano Valejo','google.com','Ativo', 'label-info')
            +item('26/11/2016', 'Acabei de falar com a Taís, da CRE, e a reunião está mesmo cancelada.', 'Sabrina Mancio','','Finalizado', 'label-success')
          +botoes('/endereço', 'fa-pencil', 'Gerenciar avisos')
      li.dropdown.visible-xs
        a.navbar-action.zeta.dropdown-toggle(href='#', data-toggle='dropdown')
          span.seta-dropdown-menu
          i.fa.fa-search
        ul.dropdown-menu.dropdown-menu--bar.dropdown-menu--md
          li.Box.Box--lg
            +search

