.AdvanceLayout-content.navbar.navbar--sf.navbar-fixed-top.is-full(role='navigation')
  .container-fluid.u-posRelative

    ul.nav.navbar-nav.navbar-left.navbar-nav--lg
      li: a#main-menu-toggle.navbar-action.zeta.navbar-action--main(href='#')
        i.fa.fa-bars

    form.navbar-form.navbar-left.navbar-form--lg.zeta
      i.fa.fa-search.text-muted
      input.form-control.u-transparentInput(type='text' placeholder='Procurar...')

    ul.nav.navbar-nav.navbar-right.navbar-nav--lg

      li.dropdown
        a.navbar-action.dropdown-toggle(href='#', data-toggle='dropdown')
          img(src='img/flags/BRA.png' height=18)
        ul.dropdown-menu
          mixin bandeira(imagem, pais)
            li: a(href='#')
              img(src='img/flags/#{imagem}.png' height=18)
              | #{pais}
          +bandeira('BRA', 'Brasil')
          +bandeira('USA', 'English')
          +bandeira('Spain', 'Spanish')

      li.dropdown
        a.navbar-action.zeta.dropdown-toggle(href='#', data-toggle='dropdown')
          i.fa.fa-comments-o
          span.badge.badge--unread.micro 4
        include partials/mensagens

      li: a.zeta.navbar-action(href='#'): i.fa.fa-cog

      li.dropdown
        a.navbar-action.zeta.dropdown-toggle(href='#', data-toggle='dropdown')
          i.fa.fa-wrench
          span.badge.badge--unread.micro !

        ul.dropdown-menu

          mixin item(texto, icon, style, badge)
            li: a(href='#')
              i.fa(class="fa-#{icon}")
              | #{texto}
              if badge
                span.label(class="label-#{style}") #{badge}

          li.dropdown-menu-header.text-center
            strong Conta
          +item('Updates', 'bell-o', 'info', 12)
          +item('Mensagens', 'envelope-o', 'success', 35)
          +item('Tarefas', 'tasks', 'danger', 2)
          +item('Comentários', 'comments', 'warning', 10)

          li.dropdown-menu-header.text-center
            strong Settings
          +item('Perfil', 'user')
          +item('Configurações', 'wrench')
          +item('Projetos', 'file', 'primary', 2)
          li.divider
          +item('Bloquear Perfil', 'shield')
          +item('Logout', 'lock')

      li: a.zeta.navbar-action(href='#'): i.fa.fa-power-off

