ul.list-unstyled.Sidebar.u-posRelative
  li.Box.u-spacer--xl.Sidebar--Header
    .Flag.Sidebar--Controlflag
      .Flag-figure.Sidebar--Flagfigure.Sidebar--FlagfigureCompact
        a.Sidebar--compact-btn.hidden-xs(href='#')
          img(src='img/icon-pautas2.svg' alt='Logo sistema'  width="29px" height="29px")
        img.visible-xs(src='img/icon-pautas.svg' alt='Logo sistema'  width="29px" height="29px")
      .Flag-body.Sidebar--Flagbody(class="+white--color")
        | Central de Pautas e Produção Jornalistica
      .Flag-figure.pull-right.Sidebar--compact-icon.hidden-xs
        a.gamma.Sidebar--compact-btn(href="#" class="+white--color")
          span.fa.fa-ellipsis-v
  mixin item-link(href, icon, title)
    li.Box.u-posStatic_.u-textNoWrap
      a(href="#{href}")
        .Sidebar-menuLink.MenuTitulo
          button.btn.Sidebar--btn.btn-square(role='button' title='Alooo2')
            span.fa.milli(class="#{icon}")
          span.Box.Sidebar-menuLabel  #{title}
  +item-link('paginaInicial.html', 'fa-home', 'Página Inicial')
  mixin item-drop(icon, title, name)
    li.Box.dropdown.u-posStatic_.u-textNoWrap
      - var id = rand()
      .Sidebar-menuLink.MenuTitulo.more(href='#' data-toggle='collapse' data-target='##{id}' aria-expanded='false')
        button.btn.Sidebar--btn.btn-square(role='button' title='Alooo')
          span.fa.milli(class="#{icon}") 
        span.Box.Sidebar-menuLabel  #{title}
      .Sidebar-menu.collapse(id=id)
        .Sidebar-menuLabel
          .MenuTitulo.Box #{title}
        ul.list-unstyled.Box(class='+bgdropdown')
          mixin item-drop-li(href, icon, name)
            li
              .row
                a.sidebar-link(href='#{href}') 
                  .col-xs-2
                    &nbsp; 
                    i.fa(class='#{icon}')
                  .col-xs-10
                    | #{name}
          +item-drop-li('agencia.html', 'fa-users', 'Agência')
          +item-drop-li('comap.html', 'fa-lightbulb-o', 'COMAP')
          +item-drop-li('com-interna.html', 'fa-commenting-o', 'Comunicação Interna')
          +item-drop-li('divulgacaoExterna.html', 'fa-rss', 'Divulgação Externa')
          +item-drop-li('#', 'fa-camera', 'Fotografia')
          +item-drop-li('#', 'fa-microphone', 'Rádio')
          +item-drop-li('#', 'fa-television', 'TV')
  +item-drop('fa-pencil', 'Pautas')
  +item-link('#', 'fa-cog', 'Produção')
  +item-link('#', 'fa-font', 'Fontes')
  +item-link('#', 'fa-user', 'Gerência')
    nav.navbar.u-spacer--xl

