.panel.panel-box.panel-default.panel-sf
  .panel-heading
    .Arrange
      .Arrange-sizeFit
        i.fa.fa-users
      .Arrange-sizeFill
        h2: strong Agência
      .Arrange-sizeFit
        .panel-actions
          a.btn-minimize(href='#collapse-box' data-toggle="collapse")
  .panel-body#collapse-box.in 
    include ../partials/navbar-nav--secundaria
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#pautadia', aria-controls='pautadia', role='tab', data-toggle='tab') Pautas do dia
      li(role='presentation')
        a(href='#pautafutura', aria-controls='pautafutura', role='tab', data-toggle='tab') Pautas futuras
    // Tab panes
    .tab-content
      #pautadia.tab-pane.active(role='tabpanel')
        .row
          .col-md-4
            .Box.Box--lg.Box--y
              form.form-group               
                .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                  input#dataPublicacao.form-control(type='text', placeholder='dd/mm/aaaa')
                  .input-group-addon
                    span.fa.fa-calendar

          .col-md-8.text-right
            mixin btn-impress(title, icon, name)
              button.btn.btn-xs.btn-default(type='button', title='#{title}', data-toggle='tooltip') 
                i.fa(class='#{icon}')
                |  #{name} 
            .Box.Box--lg.Box--y
              form.form-group
                .btn-block
                  +btn-impress('Imprimir tudo', 'fa-print', 'Tudo')
                  +btn-impress('Imprimir manhã', 'fa-print', 'Manhã')
                  +btn-impress('Imprimir tarde', 'fa-print', 'Tarde')

        .table-responsive
          mixin thead-weather(alert, iclass, turno, text) 
            thead
              tr(class='#{alert}')
                th(colspan='5')
                  i.label.fa.pull-left(class='#{iclass}')  #{turno}
                  .text-center #{text}
          mixin thead(head1, head2, head3, head4, head5)
            thead
              tr
                th #{head1}
                th #{head2}
                th #{head3}
                th #{head4}
                th #{head5}
          mixin tbody(cond1, cond2, cond3, cond33, cond333, cond4, cond5, cond6)
            tbody
              tr
                td
                  i.fa.fa-clock-o
                  |  #{cond1}
                td 
                  a(href='agencia--itemPautaAgencia.html') #{cond2}
                td
                  .Box.Box--y
                    i.fa(class='#{cond3}', data-toggle='tooltip', title='#{cond33}')
                      |  #{cond333}
                td #{cond4}
                td.eta 
                  i.fa(class='#{cond5}' data-toggle='tooltip' title='#{cond6}')

          // Manhã
          table.table.table-striped.table-hover.milli

            +thead-weather('alert-info', 'label-info fa-sun-o', 'Manhã', 'Presidência')
            +thead('Hora', 'Assunto', 'Equipe', 'Situação/Observações', 'Status')
            +tbody('08:00', 'Lorem ipsum dolor sit amet, consectetur', 'fa-camera', 'Fotografo', 'Jane Maria de Araújo Neves', '', 'fa-plus-circle text-success', 'Em Produção')

          table.table.table-striped.table-hover.milli
            +thead-weather('alert-info', 'label-info fa-sun-o', 'Manhã', 'Demais Pautas')
            +thead('Hora', 'Assunto', 'Equipe', 'Situação/Observações', 'Status')
            +tbody('08:00', 'Lorem ipsum dolor sit amet, consectetur', 'fa-microphone', 'Reporter', 'Iara Guimarães Altafin', '', 'fa-hand-paper-o text-warning', 'Privado')

          // Manhã
          table.table.table-striped.table-hover.milli

            +thead-weather('alert-warning', 'label-warning fa-sun-o', 'Tarde', 'Presidência')
            +thead('Hora', 'Assunto', 'Equipe', 'Situação/Observações', 'Status')
            +tbody('08:00', 'Lorem ipsum dolor sit amet, consectetur', 'fa-camera', 'Fotografo', 'Carlos Eduardo Gomes Neri', '', 'fa-archive text-muted', 'Gaveta')

          table.table.table-striped.table-hover.milli
            +thead-weather('alert-warning', 'label-warning fa-sun-o', 'Tarde', 'Demais Pautas')
            +thead('Hora', 'Assunto', 'Equipe', 'Situação/Observações', 'Status')
            +tbody('08:00', 'Lorem ipsum dolor sit amet, consectetur', 'fa-microphone', 'Reporter', 'Carlos Eduardo Gomes Neri', '', 'fa-minus-circle text-danger', 'Derrubar')



      #pautafutura.tab-pane(role='tabpanel') 
        .row
          .col-md-4
            .Box.Box--lg.Box--y
              form.form-group               
                .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                  input#dataPublicacao.form-control(type='text', placeholder='dd/mm/aaaa')
                  .input-group-addon
                    span.fa.fa-calendar

          .col-md-8.text-right
            mixin btn-impress(title, icon, name)
              button.btn.btn-xs.btn-default(type='button', title='#{title}', data-toggle='tooltip') 
                i.fa(class='#{icon}')
                |  #{name} 
            .Box.Box--lg.Box--y
              form.form-group
                .btn-block
                  +btn-impress('Imprimir', 'fa-print', 'Imprimir')
        .table-responsive
          table.table.table-striped.table-hover.milli
            +thead-weather('alert-info', 'label-info fa-sun-o', 'Manhã', 'Presidência')
            +thead('Hora', 'Assunto', 'Equipe', 'Situação/Observações', 'Status')
            +tbody('08:00', 'Lorem ipsum dolor sit amet, consectetur', 'fa-camera', 'Fotografo', 'Jane Maria de Araújo Neves', '', 'fa-plus-circle text-success', 'Em Produção')