.panel.panel-box.panel-default.panel-sf
  .panel-heading
    .Arrange
      .Arrange-sizeFit
        i.fa.fa-home
      .Arrange-sizeFill
        h2: strong Página Inicial
      .Arrange-sizeFit
        .panel-actions
          a.btn-minimize(href='#collapse-box' data-toggle="collapse")
  .panel-body#collapse-box.in 
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#pautadia', aria-controls='pautadia', role='tab', data-toggle='tab') Pautas do dia
      li(role='presentation')
        a(href='#pautafutura', aria-controls='pautafutura', role='tab', data-toggle='tab') Pautas futuras
    // Tab panes
    .tab-content
      #pautadia.tab-pane.active(role='tabpanel')
        .row
          .col-md-4
            .Box.Box--lg.Box--y
              form.form-group               
                .input-group.date(data-provide='datepicker', data-date-format="dd/mm/yyyy")
                  input#dataPublicacao.form-control(type='text', placeholder='dd/mm/aaaa')
                  .input-group-addon
                    span.fa.fa-calendar

          .col-md-8.text-right
            mixin btn-impress(title, icon, name)
              button.btn.btn-xs.btn-default(type='button', title='#{title}', data-toggle='tooltip') 
                i.fa(class='#{icon}')
                |  #{name} 
            .Box.Box--lg.Box--y
              form.form-group
                .btn-block
                  +btn-impress('Imprimir', 'fa-print', 'Imprimir')
        .table-responsive
          table.table.table-striped.table-hover.milli
            thead
              tr
                th Hora
                th Editoria
                th Assunto
                th Veículos
            tbody
              mixin btn(icon, btn, badge)
                a.btn.btn-xs(href="#" class='#{btn}' data-toggle="tooltip" data-placement="top" title="Valor do objeto" style='min-width: 50px; margin-right:5px; margin-bottom:5px;')
                  i.fa(class='#{icon}') &nbsp;
                  span.badge.micro #{badge}
              mixin linhas(hora, editoria, href, assunto)
                tr
                  td #{hora}
                  td #{editoria}
                  td 
                    a(href='#{href}') #{assunto} 
                  td
                    block

              +linhas('01h00', 'Senado','paginaInicial--itemPautaGeral.html', 'ORIENTAÇÕES PARA COBERTURA DO DIA 10/12 - QUINTA-FEIRA')
                +btn('fa-pencil', 'btn-danger', '1')
                +btn('fa-comment-o', 'btn-danger', '2')
                +btn('fa-bullhorn', 'btn-danger', '3')
                +btn('fa-bullseye', 'btn-danger', '4')
                +btn('fa-pencil', 'btn-danger', '5')
                +btn('fa-bullhorn', 'btn-danger', '6')
              +linhas('08h00', 'Senado','paginaInicial--itemPautaGeral.html', 'AGENCIA - PRESIDÊNCIA')
                +btn('fa-comment-o', 'btn-warning', '2')
              +linhas('08h00', 'Senado','paginaInicial--itemPautaGeral.html', 'CRA - (1 Parte): Apreciação do relatório de avaliação pública de defesa agropecuaria')
                +btn('fa-bullhorn', 'btn-warning','1')
              +linhas('08h00', 'Senado','paginaInicial--itemPautaGeral.html', 'ORIENTAÇÕES PARA COBERTURA DO DIA 10/12 - QUINTA-FEIRA')
                +btn('fa-bullseye', 'btn-warning', '2')
              +linhas('01h00', 'Senado','paginaInicial--itemPautaGeral.html', 'ORIENTAÇÕES PARA COBERTURA DO DIA 10/12 - QUINTA-FEIRA')
                +btn('fa-pencil', 'btn-danger', '1')
                +btn('fa-comment-o', 'btn-danger', '1')
                +btn('fa-bullhorn', 'btn-danger', '1')
              +linhas('08h00', 'Senado','paginaInicial--itemPautaGeral.html', 'AGENCIA - PRESIDÊNCIA')
                +btn('fa-comment-o', 'btn-warning', '2')
              +linhas('08h00', 'Senado','paginaInicial--itemPautaGeral.html', 'CRA - (1 Parte): Apreciação do relatório de avaliação pública de defesa agropecuaria')
                +btn('fa-bullhorn', 'btn-warning','1')
              +linhas('08h00', 'Senado','paginaInicial--itemPautaGeral.html', 'ORIENTAÇÕES PARA COBERTURA DO DIA 10/12 - QUINTA-FEIRA')
                +btn('fa-bullseye', 'btn-warning', '2')

      #pautafutura.tab-pane(role='tabpanel') ...