.row
  .col-md-9.col-sm-9
    .panel.panel-box.panel-default.panel-sf
      .panel-heading
        .Arrange
          .Arrange-sizeFit
            i.fa.fa-pencil
          .Arrange-sizeFill
            h2: strong Item de pauta geral
          .Arrange-sizeFit
            .panel-actions
              a.btn-minimize(href='#collapse-box' data-toggle="collapse")
      .panel-body#collapse-box.in 
        h3: strong ORIENTAÇÕES PARA COBERTURA DO DIA 10/12 - QUINTA-FEIRA
        dl.dl-horizontal
          mixin data-list (titulo, descricao)
            dt #{titulo}:
            dd #{descricao}
          +data-list('Por', 'Adriano Rodrigues de Faria')
          +data-list('Útima modificação', '21/12/2015, 12h52')
          +data-list('Data', '22/12/2015')
          +data-list('Horário', '08:10')
          +data-list('Local', 'Rádio Senado')
          +data-list('Editoria', 'Entrevista')

        #accordion.panel-group(role='tablist', aria-multiselectable='true')
          mixin panel-heading (id, icon, title, href, aria)
            .panel-heading(id='#{id}')
              .Arrange
                .Arrange-sizeFit
                  i.fa(class='#{icon}')
                .Arrange-sizeFill
                  h2: strong #{title}
                .Arrange-sizeFit
                  .panel-actions
                    a.btn-minimize(role='button', data-toggle='collapse', data-parent='#accordion', href='#{href}', aria-expanded='true', aria-controls='#{aria}')
          mixin loren
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

          .panel.panel-default
            +panel-heading('headingOne', 'fa-pencil', 'Descrição', '#collapseOne', 'collapseOne')
            #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
              .panel-body
                +loren

          .panel.panel-default
            +panel-heading('headingTwo', 'fa-pencil', 'Pessoas acompanhando o item', '#collapseTwo', 'collapseTow')
            #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
              .panel-body
                dl.dl-horizontal
                  +data-list('Reporter', 'Sergio Salexandre Vieira')
                  +data-list('Fotográfo', 'Ullyses Kodak Sony')


        mixin table (caption, href)
          .table-responsive
            table.table.table-striped.table-hover.milli
              caption.Segments
                h4.Apex.Apex--cut #{caption}
                  .pull-right
                    a.btn.btn-xs.btn-success(href='#{href}')
                      i.fa.fa-plus
                      |  Criar item
              thead
                tr
                  th Assunto
                  th Repórter
                  th Status
              tbody
                mixin linhas(Assunto, Reporter, Status)
                  tr
                    td #{Assunto}
                    td #{Reporter}
                    td.text-success #{Status}
                +linhas('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.', 'Carlos Eduardo','Em Produção')
        +table('Agência Senado', 'paginaInicial--criarItemPautaGeralAgencia.html')
        +table('Comunicação Interna', 'paginaInicial--criarItemPautaComunicacaoInterna.html')
        +table('Rádio Sendo', 'paginaInicial--criarItemPautaRadio.html')
        +table('TV Senado', 'paginaInicial--criarItemPautaTV.html')


  .col-md-3.col-sm-3
    include ../partials/menu-item


            
include ../modais/adicionarLink
include ../modais/historico
include ../modais/novoArquivo
include ../modais/itensProducaoRelacionados
include ../modais/excluirItem
include ../modais/replicarItem
include ../modais/reordenacaoItens
include ../modais/editarItem